body {
  font-family: 'Roboto', sans-serif;
}

section {
  height: 360px;
  background-color: rgb(41, 55, 68);
  border: solid black 1px;
}
h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 45px;
}

p {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: white;
}

.upper {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 43px;
}

footer {
  height: 160px;
  background-color: black;
  color: white;
  margin: -1px;
}

.footer-text {
  margin-left: 30px;
  font-weight: 500;
  font-size: 30px;
}

.website-link {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  font-size: 30px;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  padding-right: 40px;
}

li {
  /* width: 200px; */
  text-decoration: none;
}

.upper-text-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.upper-text {
  margin-left: 70px; /*i hate text touching the sides it makes me angry and want to kill people */
  margin-bottom: 300px;
}

.button {
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  border-radius: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 140px;
  color: black;
  padding: 5px;
  padding-inline: 20px;
}

.button:hover {
  background-color: rgb(205, 205, 205);
}

.button:active {
  background-color: rgb(128, 128, 128);
  color: rgb(128, 128, 128);
}

.logo {
  height: 80px;
  margin: 30px;
}

.sub-sec {
  display: flex;
  padding: 20px;
}

.sub-sec-2 {
  height: auto;
  padding-bottom: 60px;
}

.sub-sec-2-text {
  /* padding: 20px; */
  text-align: center;
}

.button2 {
  color: black;
  font-weight: 700;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
}

.button2:hover {
  background-color: rgb(205, 205, 205);
}

.button2:active {
  background-color: rgb(128, 128, 128);
  color: rgb(128, 128, 128);
}

.selfie {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* vertical-align: middle; */
}

.projects {
  text-align: center;
  padding: 40px;
  background-color: rgb(41, 55, 68);
  margin: -1px;
  height: auto;
  padding-bottom: 100px;
}

.project-card {
  width: 320px;
  height: auto;
  box-shadow: 5px 5px 20px;
  background-color: rgb(61,75,88);
  padding-bottom: 70px;
  margin: 10px;
  position: relative;
}

.project-link {
  position: absolute; bottom: 10px; margin: auto; width: 100%;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

.project-text {
  font-size: 25px;
  font-weight: 300;
}

h3 {
  font-size: 35px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
  border-color: black;
}

.statistics {
  display: flex;
  justify-content: space-around;
}

.statistics-text {
  margin: 20px;
}